<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="review">

    <select id="selectReviews" resultType="kr.co.iei.review.model.vo.ReviewResponse">
        SELECT
            r.reviewId,
            r.writerId,
            u.nickname,
            r.rating,
            r.content,
            r.createdAt
        FROM reviews r
        JOIN users u ON r.writerId=u.userId
        WHERE r.meetingId=#{meetingId}
        ORDER BY r.createdAt DESC
    </select>

    <insert id="insertReview" parameterType="kr.co.iei.review.model.vo.Review">
        INSERT INTO reviews(
            meetingId,
            writerId,
            rating,
            content
        )
        VALUES(
            #{meetingId},
            #{writerId},
            #{rating},
            #{content}
        )
    </insert>

</mapper>
